.back-button {
  border: #bb99cd;
  background-color: #bb99cd;
  outline-color: #bb99cd;
  align-self: center;
}
.container {
  display: grid;
  grid-template-columns: 75px auto;
  gap: 10px;
}
.headline {
  align-self: center;
}
