
  /* For phone-sized screens */
  @media (max-width: 798px) {
    .recipe-grid {
      grid-template-columns: repeat(1, 1fr); 
    }
  }

  /* For iPad-sized screens) */
  @media (min-width: 799px) and (max-width: 1085px) {
    .recipe-grid {
      grid-template-columns: repeat(2, 1fr); /* Display two columns for iPad-sized screens */
    }
  }

  .recipe-element{
    display: flex;
    flex-direction: column;
    min-width: 340px;
    max-width: 430px;
    height: 600px;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    
    background: var(--m-3-surfaces-light-surface-1, linear-gradient(0deg, rgba(103, 80, 164, 0.05) 0%, rgba(103, 80, 164, 0.05) 100%), #FFFBFE);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  }

  .recipe-title{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    /* Typography */
    color: var(--m-3-sys-light-on-surface, #1C1B1F);
    
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
  }

  .rate-and-favorite{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-right: 0px;
    align-items: center;
  }

  .button-placement{
    display: flex;
    width: 40%;
    justify-content: center;
  }

  .recipe-image {
    border-radius: 12px 12px 0px 0px;
    width: 100%;
  }

  .recipe-info {
    display: flex;
    padding: 4%;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 8px;
    margin-top: 0;

    align-self: stretch;
    /* Typography */
    color: var(--m-3-sys-light-on-surface-variant, #49454F);

    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
  }